@font-face {
  font-family: Tilt Neon;
  src: url("./styles//TiltNeon-Regular.ttf");
}
@font-face {
  font-family: "Nanum Gothic Coding", monospace;
  src: url("./styles//NanumGothicCoding-Regular.ttf");
}
